.fade-enter {    
    opacity: 0;
}

.fade-enter-active {
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.fade-exit {    
    opacity: 1;
}

.fade-exit-active {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.loader {
    font-size: 5rem;
    margin-top: 30vh;
    animation-name: orange-to-blue;
    animation-duration: 3s;
}

@keyframes orange-to-blue {
    0% {
        color: $orange;
        transform: rotate(0deg);
    }

    50% {
        color: $blue;
    }

    100% {
        color: $orange;
        transform: rotate(360deg);
    }
}

.shift {
    transition: 1s ease-in-out;
}

.blur-mask {
    overflow: hidden;

}

.security-images {
    transition: all .5s ease-in-out;
    transform: scale(1);

    &.blur {
        transform: scale(1.1);
        filter: blur(10px) brightness(50%);
        -webkit-filter: blur(10px) brightness(50%);
    }
}