$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
   
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }

$bp-large: 'only screen and (min-width: 1200px)';
$bp-medium: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$bp-small: 'only screen and (min-width: 769px) and (max-width: 991px)';
$bp-xsmall: 'only screen and (max-width: 768px)';
$bp-gtsmall: 'only screen and (min-width: 769px)';

$bps: (
    xs: $bp-xsmall,     
    sm: $bp-small,
    md: $bp-medium,
    lg: $bp-large
);