@import './colors';

.card {
    border-radius: 2px;
    box-shadow: 0 1px 3px $gray;
    background-color: $white;
    position: relative;
    clear: both;
    overflow: auto;
    box-sizing: border-box;
    padding: .5rem;

    &:hover {
        box-shadow: 0 1px 5px $gray;
    }

    img {
        width: 100%;
    }

    p {
        line-height: normal;
    }
}

.avatar-sm {
    width: 3rem!important;
    height: 3rem;
}

.people-avatar {
    width: 100%;
}

.card-buffer {
    position: relative;
}